GCOTestUI/Service References/GCLiveAPI/geocaching24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.geocaching.com/Challenges.Live/data" elementFormDefault="qualified" targetNamespace="http://www.geocaching.com/Challenges.Live/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Tucson.Geocaching.WCF.API.Challenges.Types" />
  <xs:complexType name="ChallengeProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptedCount" type="xs:int" />
      <xs:element minOccurs="0" name="CompletedCount" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedCount" type="xs:int" />
      <xs:element minOccurs="0" name="TypeStatistics" nillable="true" type="tns:ArrayOfChallengeTypeStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChallengeProfileData" nillable="true" type="tns:ChallengeProfileData" />
  <xs:complexType name="ArrayOfChallengeTypeStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChallengeTypeStatistics" nillable="true" type="tns:ChallengeTypeStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChallengeTypeStatistics" nillable="true" type="tns:ArrayOfChallengeTypeStatistics" />
  <xs:complexType name="ChallengeTypeStatistics">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tucson.Geocaching.WCF.API.Challenges.Types" minOccurs="0" name="Type" nillable="true" type="q1:ChallengeType" />
      <xs:element minOccurs="0" name="AcceptedCount" type="xs:int" />
      <xs:element minOccurs="0" name="LastAcceptedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CompletedCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastCompletedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChallengeTypeStatistics" nillable="true" type="tns:ChallengeTypeStatistics" />
</xs:schema>