GCOTestUI/Service References/GCLiveAPI/geocaching2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Groundspeak.User.PublicRequests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Groundspeak.User.PublicRequests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SocialMediaAccountCreateRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q1:SocialMediaAccountCreateRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaAccountCreateRequestPublic" nillable="true" type="tns:SocialMediaAccountCreateRequestPublic" />
  <xs:complexType name="SocialMediaLinkAccountsRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q2:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
          <xs:element minOccurs="0" name="SocialMediaAccessToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocialMediaTokenSecret" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaLinkAccountsRequestPublic" nillable="true" type="tns:SocialMediaLinkAccountsRequestPublic" />
  <xs:complexType name="SocialMediaRevokeAccessRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q3:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
          <xs:element minOccurs="0" name="SocialMediaAccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaRevokeAccessRequestPublic" nillable="true" type="tns:SocialMediaRevokeAccessRequestPublic" />
  <xs:complexType name="SocialMediaUpdateStatusRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q4:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludedUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
          <xs:element minOccurs="0" name="StatusUpdateMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaUpdateStatusRequestPublic" nillable="true" type="tns:SocialMediaUpdateStatusRequestPublic" />
  <xs:complexType name="SocialMediaVerifyAccountLinkedRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q5:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaVerifyAccountLinkedRequestPublic" nillable="true" type="tns:SocialMediaVerifyAccountLinkedRequestPublic" />
  <xs:complexType name="SocialMediaVerifyAllLinkedAccountsRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q6:AccessTokenRequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaVerifyAllLinkedAccountsRequestPublic" nillable="true" type="tns:SocialMediaVerifyAllLinkedAccountsRequestPublic" />
  <xs:complexType name="UserChangePasswordRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q7:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserChangePasswordRequestPublic" nillable="true" type="tns:UserChangePasswordRequestPublic" />
  <xs:complexType name="GetReferAFriendShortUrlRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q8:AccessTokenRequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReferAFriendShortUrlRequestPublic" nillable="true" type="tns:GetReferAFriendShortUrlRequestPublic" />
  <xs:complexType name="GetAccountReferralStatisticsRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q9:AccessTokenRequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountReferralStatisticsRequestPublic" nillable="true" type="tns:GetAccountReferralStatisticsRequestPublic" />
  <xs:complexType name="ReferAFriendEmailRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q10:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageBody" nillable="true" type="xs:string" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecipientsEmail" nillable="true" type="q11:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferAFriendEmailRequestPublic" nillable="true" type="tns:ReferAFriendEmailRequestPublic" />
  <xs:complexType name="SendValidationEmailRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q12:AccessTokenRequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendValidationEmailRequestPublic" nillable="true" type="tns:SendValidationEmailRequestPublic" />
  <xs:complexType name="GetAccountsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q13:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AccountIds" nillable="true" type="q14:ArrayOfint" />
          <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PublicGuids" nillable="true" type="q15:ArrayOfguid" />
          <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Usernames" nillable="true" type="q16:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountsRequest" nillable="true" type="tns:GetAccountsRequest" />
  <xs:complexType name="GetEmailPreferencesForAccountRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q17:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailPreferencesAccountId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmailPreferencesForAccountRequestPublic" nillable="true" type="tns:GetEmailPreferencesForAccountRequestPublic" />
  <xs:complexType name="UpdateEmailPreferencesForAccountRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q18:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmailPreferenceIds" nillable="true" type="q19:ArrayOfint" />
          <xs:element minOccurs="0" name="EmailPreferencesAccountId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateEmailPreferencesForAccountRequestPublic" nillable="true" type="tns:UpdateEmailPreferencesForAccountRequestPublic" />
  <xs:complexType name="SetHomeCoordinatesRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q20:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="HomeCoordinateLatitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="HomeCoordinateLongitude" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetHomeCoordinatesRequestPublic" nillable="true" type="tns:SetHomeCoordinatesRequestPublic" />
  <xs:complexType name="LoginRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q21:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginRequestPublic" nillable="true" type="tns:LoginRequestPublic" />
  <xs:complexType name="GetAccessTokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q22:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccessTokenRequest" nillable="true" type="tns:GetAccessTokenRequest" />
  <xs:complexType name="SocialMediaLoginRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q23:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
          <xs:element minOccurs="0" name="SocialMediaAccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaLoginRequestPublic" nillable="true" type="tns:SocialMediaLoginRequestPublic" />
  <xs:complexType name="IsUserNameValidAndAvailableRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q24:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsUserNameValidAndAvailableRequestPublic" nillable="true" type="tns:IsUserNameValidAndAvailableRequestPublic" />
  <xs:complexType name="CreateStandardAccountRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q25:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgreeToReceiveCompanyRelatedInformation" type="xs:boolean" />
          <xs:element minOccurs="0" name="AgreeToTermsAndConditions" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HomeCoordinateLatitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="HomeCoordinateLongitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="IsHtmlPreferredEmailFormat" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMobileSignup" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferringAccountPublicGuid" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="RegistrationIPAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscribeToWeeklyNewsletter" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateStandardAccountRequestPublic" nillable="true" type="tns:CreateStandardAccountRequestPublic" />
  <xs:complexType name="RecoverPasswordRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q26:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecoverPasswordRequestPublic" nillable="true" type="tns:RecoverPasswordRequestPublic" />
  <xs:complexType name="RecoverUsernameRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q27:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecoverUsernameRequestPublic" nillable="true" type="tns:RecoverUsernameRequestPublic" />
  <xs:complexType name="TrimbleRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q28:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CellPhoneIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhonePin" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimbleRequestPublic" nillable="true" type="tns:TrimbleRequestPublic" />
  <xs:complexType name="TrimbleLoginRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrimbleRequestPublic">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimbleLoginRequestPublic" nillable="true" type="tns:TrimbleLoginRequestPublic" />
  <xs:complexType name="TrimbleCreatePhoneAccountRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrimbleRequestPublic">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimbleCreatePhoneAccountRequest" nillable="true" type="tns:TrimbleCreatePhoneAccountRequest" />
  <xs:complexType name="TrimblePinChangeRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q29:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CellPhoneIdentifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewPhonePin" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimblePinChangeRequestPublic" nillable="true" type="tns:TrimblePinChangeRequestPublic" />
  <xs:complexType name="IsEmailAddressInUseRequestPublic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" base="q30:ConsumerKeyRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsEmailAddressInUseRequestPublic" nillable="true" type="tns:IsEmailAddressInUseRequestPublic" />
  <xs:complexType name="GetEmailPreferencesRequestPublic">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetEmailPreferencesRequestPublic" nillable="true" type="tns:GetEmailPreferencesRequestPublic" />
  <xs:complexType name="RemoveEmailPreferencesForAccountRequestPublic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="ConsumerKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EmailPreferenceIds" nillable="true" type="q31:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveEmailPreferencesForAccountRequestPublic" nillable="true" type="tns:RemoveEmailPreferencesForAccountRequestPublic" />
  <xs:complexType name="SetAccountToValidatedRequestPublic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsumerKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetAccountToValidatedRequestPublic" nillable="true" type="tns:SetAccountToValidatedRequestPublic" />
</xs:schema>