GCOTestUI/Service References/GCLiveAPI/geocaching15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Geocache.Health.Results.Wrappers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Geocache.Health.Results.Wrappers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNotificationHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationHistoryItem" nillable="true" type="tns:NotificationHistoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificationHistoryItem" nillable="true" type="tns:ArrayOfNotificationHistoryItem" />
  <xs:complexType name="NotificationHistoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationHistoryItem" nillable="true" type="tns:NotificationHistoryItem" />
</xs:schema>