GCOTestUI/Service References/GCLiveAPI/geocaching21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Groundspeak.Geospatial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Groundspeak.Geospatial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Latitude">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Angle">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Latitude" nillable="true" type="tns:Latitude" />
  <xs:complexType name="Angle">
    <xs:sequence>
      <xs:element name="radians" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Angle" nillable="true" type="tns:Angle" />
  <xs:complexType name="Longitude">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Angle">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Longitude" nillable="true" type="tns:Longitude" />
  <xs:complexType name="Altitude">
    <xs:sequence>
      <xs:element name="_altitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Altitude" nillable="true" type="tns:Altitude" />
</xs:schema>