GCOTestUI/Service References/GCLiveAPI/geocaching1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://www.geocaching.com/Account/data" elementFormDefault="qualified" targetNamespace="http://www.geocaching.com/Account/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd21" namespace="http://www.geocaching.com/Coordinate/data" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Groundspeak.User" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="PublicGuid" type="ser:guid" />
      <xs:element minOccurs="0" name="ChallengesCompletedCount" type="xs:int" />
      <xs:element minOccurs="0" name="GeocacheHideCount" type="xs:int" />
      <xs:element minOccurs="0" name="GeocacheFindCount" type="xs:int" />
      <xs:element xmlns:q1="http://www.geocaching.com/Coordinate/data" minOccurs="0" name="HomeCoordinate" nillable="true" type="q1:Coordinate" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="tns:Security" />
      <xs:element minOccurs="0" name="Demographics" nillable="true" type="tns:ArrayOfDemographic" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:Settings" />
      <xs:element minOccurs="0" name="MembershipInfo" nillable="true" type="tns:MembershipInfo" />
      <xs:element minOccurs="0" name="WebOnlyInfo" nillable="true" type="tns:WebOnlyInfo" />
      <xs:element minOccurs="0" name="SocialMediaInfo" nillable="true" type="tns:SocialMediaInfo" />
      <xs:element minOccurs="0" name="GamingAccountID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="tns:AvatarImage" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Security">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="IsBanned" type="xs:boolean" />
      <xs:element minOccurs="0" name="AccountFlags" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsValidated" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasAdminRights" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasApprovalRights" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityGroupName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Groundspeak.User" minOccurs="0" name="MembershipLevel" type="q2:MembershipLevel" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Security" nillable="true" type="tns:Security" />
  <xs:complexType name="ArrayOfDemographic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Demographic" nillable="true" type="tns:Demographic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDemographic" nillable="true" type="tns:ArrayOfDemographic" />
  <xs:complexType name="Demographic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryNameEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsDst" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IMContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCOffset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Demographic" nillable="true" type="tns:Demographic" />
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="DISPLAY_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISPLAY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATE_FORMAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitSetID" type="xs:int" />
      <xs:element minOccurs="0" name="ShowEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowWeeklyEmailer" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowThirdPartyEmails" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowIM" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowDownloads" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowHtmlEmails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
  <xs:complexType name="MembershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MembershipType" nillable="true" type="tns:MembershipType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipInfo" nillable="true" type="tns:MembershipInfo" />
  <xs:complexType name="MembershipType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberTypeId" type="xs:long" />
      <xs:element minOccurs="0" name="MemberTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipType" nillable="true" type="tns:MembershipType" />
  <xs:complexType name="WebOnlyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserID" type="xs:long" />
      <xs:element minOccurs="0" name="PostViewOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlatView" type="xs:boolean" />
      <xs:element minOccurs="0" name="SECURITY_TOKEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="VALIDATE_PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CACHE_DIST" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TRACK_DIST" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UTCOffset" type="xs:int" />
      <xs:element minOccurs="0" name="IsDST" type="xs:boolean" />
      <xs:element minOccurs="0" name="IMTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IMContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebOnlyInfo" nillable="true" type="tns:WebOnlyInfo" />
  <xs:complexType name="SocialMediaInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SocialMediaInfo" nillable="true" type="tns:SocialMediaInfo" />
  <xs:complexType name="AvatarImage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Image">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvatarUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvatarImage" nillable="true" type="tns:AvatarImage" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateUploaded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginalUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="AccountReferralStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalActiveReferredUsers" type="xs:long" />
      <xs:element minOccurs="0" name="TotalGeocachesFoundByReferredUsers" type="xs:long" />
      <xs:element minOccurs="0" name="TotalGeocachesHiddenByReferredUsers" type="xs:long" />
      <xs:element minOccurs="0" name="TotalReferredUsers" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountReferralStatistics" nillable="true" type="tns:AccountReferralStatistics" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="ArrayOfEmailPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailPreference" nillable="true" type="tns:EmailPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailPreference" nillable="true" type="tns:ArrayOfEmailPreference" />
  <xs:complexType name="EmailPreference">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultDisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailPreference" nillable="true" type="tns:EmailPreference" />
</xs:schema>