GCOTestUI/Service References/GCLiveAPI/geocaching22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Groundspeak.User.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AuthorizeAccountRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthorizeAccountRequest" nillable="true" type="tns:AuthorizeAccountRequest" />
  <xs:complexType name="AccessTokenRequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroundspeakAccessToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessTokenRequestBase" nillable="true" type="tns:AccessTokenRequestBase" />
  <xs:complexType name="SocialMediaAccountCreateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreeToTermsAndConditions" type="xs:boolean" />
      <xs:element minOccurs="0" name="AutoValidateAccountAndEmailAddress" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConsumerKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeCoordinateLatitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="HomeCoordinateLongitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsMobileSignup" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderType" type="xs:int" />
      <xs:element minOccurs="0" name="ReferringAccountPublicGuid" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RegistrationIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialMediaAccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscribeToWeeklyNewsletter" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialMediaAccountCreateRequest" nillable="true" type="tns:SocialMediaAccountCreateRequest" />
  <xs:complexType name="GetAccountRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludeDemographicsData" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeGamingAccountInfo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeMembershipInfoData" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeSecurityData" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeSettingsData" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeSocialMediaInfo" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeWebOnlyInfo" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountRequest" nillable="true" type="tns:GetAccountRequest" />
  <xs:complexType name="SetLocaleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessTokenRequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetLocaleRequest" nillable="true" type="tns:SetLocaleRequest" />
  <xs:complexType name="ConsumerKeyRequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsumerKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsumerKeyRequestBase" nillable="true" type="tns:ConsumerKeyRequestBase" />
</xs:schema>