GCOTestUI/Service References/GCLiveAPI/geocaching4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tucson.Geocaching.WCF.API.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tucson.Geocaching.WCF.API.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LatLngPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatLngPoint" nillable="true" type="tns:LatLngPoint" />
</xs:schema>