GCOTestUI/Service References/GCLiveAPI/geocaching10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Groundspeak.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Groundspeak.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd20" namespace="http://www.geocaching.com/Account/data" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd2" namespace="http://www.geocaching.com/Geocaching.Live/data" />
  <xs:import schemaLocation="https://api.groundspeak.com/LiveV6/geocaching.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Groundspeak.User.Models" />
  <xs:complexType name="AuthorizeAccountResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LicenseGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthorizeAccountResponse" nillable="true" type="tns:AuthorizeAccountResponse" />
  <xs:complexType name="AccountResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://www.geocaching.com/Account/data" minOccurs="0" name="Account" nillable="true" type="q1:Account" />
          <xs:element minOccurs="0" name="GroundspeakAccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountResponse" nillable="true" type="tns:AccountResponse" />
  <xs:complexType name="StatusOnlyResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://www.geocaching.com/Geocaching.Live/data" minOccurs="0" name="Status" nillable="true" type="q2:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusOnlyResponse" nillable="true" type="tns:StatusOnlyResponse" />
  <xs:simpleType name="MembershipLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Anonymous" />
      <xs:enumeration value="Basic" />
      <xs:enumeration value="Charter" />
      <xs:enumeration value="Premium" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MembershipLevel" nillable="true" type="tns:MembershipLevel" />
  <xs:complexType name="CreateAccountPublicResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CreateAccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateAccountPublicResponse" nillable="true" type="tns:CreateAccountPublicResponse" />
  <xs:complexType name="CreateAccountResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsAccountCreationSuccessful" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateAccountResponse" nillable="true" type="tns:CreateAccountResponse" />
  <xs:complexType name="SocialMediaLinkAccountsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SocialMediaEmailMatchesExistingEmailForLinkingAccount" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LinkedAccountId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LinkedAccountUserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaLinkAccountsResponse" nillable="true" type="tns:SocialMediaLinkAccountsResponse" />
  <xs:complexType name="SocialMediaRevokeAccessResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaRevokeAccessResponse" nillable="true" type="tns:SocialMediaRevokeAccessResponse" />
  <xs:complexType name="SocialMediaUpdateStatusResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaUpdateStatusResponse" nillable="true" type="tns:SocialMediaUpdateStatusResponse" />
  <xs:complexType name="SocialMediaVerifyAccountLinkedResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SocialMediaAccountExists" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaVerifyAccountLinkedResponse" nillable="true" type="tns:SocialMediaVerifyAccountLinkedResponse" />
  <xs:complexType name="SocialMediaVerifyAllLinkedAccountsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="FacebookAccountIsLinked" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TwitterAccountIsLinked" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaVerifyAllLinkedAccountsResponse" nillable="true" type="tns:SocialMediaVerifyAllLinkedAccountsResponse" />
  <xs:complexType name="PasswordResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsPasswordValid" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordResponse" nillable="true" type="tns:PasswordResponse" />
  <xs:complexType name="LoginResponsePublic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponsePublic" nillable="true" type="tns:LoginResponsePublic" />
  <xs:complexType name="SocialMediaLoginResponseBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LoginResponsePublic">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaLoginResponseBase" nillable="true" type="tns:SocialMediaLoginResponseBase" />
  <xs:complexType name="SocialMediaLoginResponsePublic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SocialMediaLoginResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaLoginResponsePublic" nillable="true" type="tns:SocialMediaLoginResponsePublic" />
  <xs:complexType name="GetAccountResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountResponse" nillable="true" type="tns:GetAccountResponse" />
  <xs:complexType name="GetReferAFriendShortUrlResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShortUrl" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReferAFriendShortUrlResponse" nillable="true" type="tns:GetReferAFriendShortUrlResponse" />
  <xs:complexType name="GetAccountReferralStatisticsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://www.geocaching.com/Account/data" minOccurs="0" name="ReferralStatistics" nillable="true" type="q3:AccountReferralStatistics" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountReferralStatisticsResponse" nillable="true" type="tns:GetAccountReferralStatisticsResponse" />
  <xs:complexType name="GetAccountsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://www.geocaching.com/Account/data" minOccurs="0" name="Accounts" nillable="true" type="q4:ArrayOfAccount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountsResponse" nillable="true" type="tns:GetAccountsResponse" />
  <xs:complexType name="SetLocaleResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetLocaleResponse" nillable="true" type="tns:SetLocaleResponse" />
  <xs:complexType name="EmailPreferencesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element xmlns:q5="http://www.geocaching.com/Account/data" minOccurs="0" name="EmailPreferences" nillable="true" type="q5:ArrayOfEmailPreference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmailPreferencesResponse" nillable="true" type="tns:EmailPreferencesResponse" />
  <xs:complexType name="SetAccountToValidatedResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountValidated" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetAccountToValidatedResponse" nillable="true" type="tns:SetAccountToValidatedResponse" />
  <xs:complexType name="AccessTokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroundspeakAccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccessTokenResponse" nillable="true" type="tns:AccessTokenResponse" />
  <xs:complexType name="UsernameValidAndAvailableResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsUsernameValid" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUsernameAvailable" nillable="true" type="xs:boolean" />
          <xs:element xmlns:q6="http://www.geocaching.com/Geocaching.Live/data" minOccurs="0" name="Warning" nillable="true" type="q6:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsernameValidAndAvailableResponse" nillable="true" type="tns:UsernameValidAndAvailableResponse" />
  <xs:complexType name="UserNameResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserNameResponse" nillable="true" type="tns:UserNameResponse" />
  <xs:complexType name="TrimblePhoneStatusResponsePublic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Groundspeak.User.Models" minOccurs="0" name="PhoneStatus" type="q7:TrimblePhoneStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimblePhoneStatusResponsePublic" nillable="true" type="tns:TrimblePhoneStatusResponsePublic" />
  <xs:complexType name="TrimbleLoginResponsePublic">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroundspeakAccessToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrimbleLoginResponsePublic" nillable="true" type="tns:TrimbleLoginResponsePublic" />
  <xs:complexType name="IsEmailAddressInUseResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StatusOnlyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsInUse" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsEmailAddressInUseResponse" nillable="true" type="tns:IsEmailAddressInUseResponse" />
</xs:schema>